openapi: 3.1.0
info:
  title: Amazon Lambda API
  description: The Amazon Lambda API provides programmatic access to manage Lambda resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://lambda.us-east-1.amazonaws.com
  description: Amazon Lambda endpoint
security:
- sigv4: []
tags:
- name: Functions
  description: Lambda function management
- name: Event Source Mappings
  description: Lambda event source mapping management
paths:
  /functions:
    post:
      operationId: CreateFunction
      summary: Amazon Lambda Create Function
      description: Creates a Lambda function.
      tags:
      - Functions
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListFunctions
      summary: Amazon Lambda List Functions
      description: Returns a list of Lambda functions, with the version-specific configuration of each.
      tags:
      - Functions
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /functions/{FunctionName}:
    get:
      operationId: GetFunction
      summary: Amazon Lambda Get Function
      description: Returns information about the function or function version.
      tags:
      - Functions
      parameters:
      - name: FunctionName
        in: path
        required: true
        schema:
          type: string
        description: The name of the Lambda function.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteFunction
      summary: Amazon Lambda Delete Function
      description: Deletes a Lambda function.
      tags:
      - Functions
      parameters:
      - name: FunctionName
        in: path
        required: true
        schema:
          type: string
        description: The name of the Lambda function.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /functions/{FunctionName}/code:
    put:
      operationId: UpdateFunctionCode
      summary: Amazon Lambda Update Function Code
      description: Updates a Lambda function's code.
      tags:
      - Functions
      parameters:
      - name: FunctionName
        in: path
        required: true
        schema:
          type: string
        description: The name of the Lambda function.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /functions/{FunctionName}/configuration:
    put:
      operationId: UpdateFunctionConfiguration
      summary: Amazon Lambda Update Function Configuration
      description: Modify the version-specific settings of a Lambda function.
      tags:
      - Functions
      parameters:
      - name: FunctionName
        in: path
        required: true
        schema:
          type: string
        description: The name of the Lambda function.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /functions/{FunctionName}/invocations:
    post:
      operationId: InvokeFunction
      summary: Amazon Lambda Invoke Function
      description: Invokes a Lambda function.
      tags:
      - Functions
      parameters:
      - name: FunctionName
        in: path
        required: true
        schema:
          type: string
        description: The name of the Lambda function.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /event-source-mappings:
    post:
      operationId: CreateEventSourceMapping
      summary: Amazon Lambda Create Event Source Mapping
      description: Creates a mapping between an event source and an AWS Lambda function.
      tags:
      - Event Source Mappings
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListEventSourceMappings
      summary: Amazon Lambda List Event Source Mappings
      description: Lists event source mappings.
      tags:
      - Event Source Mappings
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /event-source-mappings/{UUID}:
    get:
      operationId: GetEventSourceMapping
      summary: Amazon Lambda Get Event Source Mapping
      description: Returns details about an event source mapping.
      tags:
      - Event Source Mappings
      parameters:
      - name: UUID
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the event source mapping.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteEventSourceMapping
      summary: Amazon Lambda Delete Event Source Mapping
      description: Deletes an event source mapping.
      tags:
      - Event Source Mappings
      parameters:
      - name: UUID
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the event source mapping.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
  schemas:
    Function:
      type: object
      description: An AWS Lambda function.
      properties:
        FunctionName:
          type: string
          description: The name of the function.
          example: my-function
        FunctionArn:
          type: string
          description: The function's Amazon Resource Name (ARN).
        Runtime:
          type: string
          description: The function's runtime identifier.
          example: python3.12
          enum:
          - nodejs20.x
          - python3.12
          - java21
          - go1.x
          - ruby3.2
          - dotnet8
          - provided.al2023
        Role:
          type: string
          description: The function's execution role ARN.
        Handler:
          type: string
          description: The function that Lambda calls to begin execution.
          example: lambda_function.lambda_handler
        CodeSize:
          type: integer
          description: The size of the function's deployment package, in bytes.
        Description:
          type: string
          description: The function's description.
        Timeout:
          type: integer
          description: The amount of time (in seconds) that Lambda allows a function to run.
          example: 30
        MemorySize:
          type: integer
          description: The amount of memory available to the function at runtime.
          example: 128
        LastModified:
          type: string
          description: The date and time the function was last updated.
          format: date-time
        State:
          type: string
          description: The current state of the function.
          example: Active
          enum:
          - Pending
          - Active
          - Inactive
          - Failed
        PackageType:
          type: string
          description: The type of deployment package.
          example: Zip
          enum:
          - Zip
          - Image
    EventSourceMapping:
      type: object
      description: A Lambda event source mapping that connects an event source to a Lambda function.
      properties:
        UUID:
          type: string
          description: The identifier of the event source mapping.
          example: abc12345-6789-def0-1234-abcdef012345
        EventSourceArn:
          type: string
          description: The ARN of the event source.
        FunctionArn:
          type: string
          description: The ARN of the Lambda function.
        State:
          type: string
          description: The state of the event source mapping.
          example: Enabled
          enum:
          - Creating
          - Enabling
          - Enabled
          - Disabling
          - Disabled
          - Updating
          - Deleting
        BatchSize:
          type: integer
          description: The maximum number of records in each batch.
          example: 10
